{% extends 'core/base.html' %} {% block content %}
<div class="pd-std">
  <div class="card">
    <h3 class="card-title">{{ product.name }}</h3>
    <figure class="card-figure">
      <img
        class="card-image"
        src="{{product.images.url}}"
        alt="{{ product.name }}"
        width="300"
      />
      <figcaption class="card-caption">{{ product.name }}</figcaption>
    </figure>
    <div class="card-body">
      <h4 class="text-xl text-bold">{{ product.price }}$</h4>
      <p class="card-brand">{{ product.brand }}</p>
      <p>{{ product.description }}</p>
      <p class="card-date text-muted">{{ product.date_added|date:"d F Y" }}</p>
    </div>
  </div>
</div>
{% endblock %}
